:root {
  --height-progress-container: 1vh;
  --height-progress-indicator: 1vh;
}

.progress {
  width: 100%;
  position: fixed;
  z-index: 1000000;
}

.progress__container {
  height: var(--height-progress-container);
  background: rgba(90, 90, 90, 0.2);
}
.progress__indicator {
  height: var(--height-progress-indicator);
  width: 0;
  background: linear-gradient(90deg, red, blue);
}
